<div *ngIf="redditItems$ | async as resultObject; else loading">
  <table class="reddit-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resultObject; trackBy: trackByDisplayName">
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>
          <button (click)="openModal(item)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p>Cargando datos...</p>
</ng-template>

<div *ngIf="errorMessage">
  <app-error-message [errorMessage]="errorMessage"></app-error-message>
</div>

<!-- Modal -->
<div class="modal" *ngIf="selectedItem" (click)="closeModal()">
  <div class="modal-content" (click)="stopPropagation($event)">
    <h2>{{ selectedItem.title }}</h2>
    <p>{{ selectedItem.description }}</p>
    <p><a [href]="selectedItem.icon_img" target="_blank">Ir ala Imagen</a></p>
    <button (click)="closeModal()">Cerrar</button>
  </div>
</div>
